* {
    font-family: "DM Serif Text", serif;
    padding: 0;
    margin: 0;
    color: var(--azul);
}

:root{
    --azul: #040A44;
    --amarelo: #FFC207;
    --cinza: #F1F2F6;
}
body{
/*  background: #003566;
    background: linear-gradient(45deg, rgba(0, 53, 102, 1) 20%, rgba(0, 29, 61, 1) 50%, rgba(0, 8, 20, 1) 70%); */
    padding: 10px;
}

.conteiner{
    display: flex; 
    /* border: 1px solid black; */
    min-height: 100vh; 
}

header {
    /* border: 1px solid black; */
    width: 150px;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.nova-pasta {
    cursor: pointer;
    font-weight: bold;
    margin-top:25px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
main {
    flex: 1;
    padding: 15px 20px;
}

.content {
    margin-top: 50px;    
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    padding: 10px;
}
.to-do-area{
    font-size: 18px;
    /* background: #F8F9FA;
    background: linear-gradient(90deg, rgba(248, 249, 250, 1) 70%, rgba(169, 214, 229, 1) 100%); */
    padding: 15px 20px;
    width: 850px;
    gap: 15px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 2px 3px rgb(11, 11, 12);
    /* border: 1px solid black; */
    border-radius: 30px;
}

.area-pasta div{
    width: 150px;
}
/* ============================== */
/* design to-do-area */
.to-do-model {
    font-family: Arial, sans-serif;
    width: 300px ;
    margin: 20px auto;
    /* background: #2C7DA0;
    background: linear-gradient(45deg, rgba(44, 125, 160, 1) 40%, rgba(70, 143, 175, 1) 60%, rgba(97, 165, 194, 1) 100%); */
    border-radius: 8px;
    box-shadow: 1px 2px 3px rgb(11, 11, 12);
    padding: 20px;
}


.area-pasta {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 10px;
    
}

.header-pasta {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pasta-titulo {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px; 
}


.lista-topicos {
    list-style: none; 
    padding-left: 0;
    margin: 10px 0 0 0;
}

.item-topico {
    font-size: 16px;
    width: 100%;
    /* border: 1px solid black; */
    margin: 10px 0;
    padding-left: 20px; 
}

.topico-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}
.topico-titulo {
    font-weight: bold;
}
.novo-topico{
    margin-left: 6px;
}
.novo-topico img{
    width: 16px;
}

.lista-subtopicos {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}

.item-subtopico {
    padding-left: 20px; 
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: #555;
    transition: transform 0.2s ease-in-out;
}


.toggle-button.expanded {
    transform: rotate(180deg);
}

.escondido {
    display: none;
}
/* ============================== */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}
footer p {
    color: var(--cinza);
}